
.vs/ProjectOnion/v16/Server/sqlite3/storage.ide-wal
.vs/ProjectOnion/v16/Server/sqlite3/storage.ide-shm
.vs/ProjectOnion/v16/Server/sqlite3/storage.ide
.vs/ProjectOnion/v16/Server/sqlite3/db.lock
.vs/ProjectOnion/v16/.suo
